
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.generator-controls{
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #959292, 
         -5px -5px 10px #928a8a;
}

.color-titulo{
    color:  #145d8a;
}


.btn-generate{
    background-color: #2992d4;
    border-radius: 8px;
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}


.pg-formatacao{
    text-align: center;
}
.radio-group{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.div-botoes{
    display: flex;
    justify-content: center;
}
.generator-controls{
    padding: 5%;
}
.generator-controls > p , .generator-controls > div {
    margin-bottom: 20px;
}
.generator-result{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c0c7cb;
    padding: 30px;
    border-radius: 10px;
}
#resposta{
    background-color: white;
    width: 100%;
    padding: 15px;
}

@media screen and (min-width: 720px ) and  ( max-width:1200px) {

    
}
@media screen and (max-width: 300px ) {
    
    .generator-box{
        margin: 4%;
    }
    .radio-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .generator-result{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #c0c7cb;
        padding: 20px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1200px ) {
    
}